<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FulongTech.boost.v140" version="1.62.0" targetFramework="native" />
  <package id="FulongTech.Geometric.v140" version="3.11.0" targetFramework="native" />
  <package id="FulongTech.osg-core.v140" version="3.4.0" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-algorithm.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-array.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-asio.v140" version="1.67.0-build.1.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-assert.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-atomic.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-beast.v140" version="1.67.0-build.0.3" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-bind.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-chrono.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-compatibility.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-concept-check.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-config.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-container.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-container-hash.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-context.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-core.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-coroutine.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-date-time.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-detail.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-endian.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-exception.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-function.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-functional.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-function-types.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-fusion.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-integer.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-intrusive.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-io.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-iterator.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-lambda.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-lexical-cast.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-math.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-move.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-mpl.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-numeric-conversion.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-optional.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-pool.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-predef.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-preprocessor.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-range.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-ratio.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-rational.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-regex.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-smart-ptr.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-static-assert.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-system.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-thread.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-throw-exception.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-tokenizer.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-tuple.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-type-index.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-typeof.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-type-traits.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-unordered.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-utility.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.boost-winapi.v140" version="1.67.0-build.0.1" targetFramework="native" />
  <package id="FulongTech.SEAL.openssl.v140" version="1.0.2.14-build.2.1" targetFramework="native" />
  <package id="xerces-c-static" version="3.2.3.1" targetFramework="native" />
  <package id="xerces-c-static.redist" version="3.2.3.1" targetFramework="native" />
</packages>